<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.2/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="css/global-style.css"/>
    <link rel="stylesheet" href="css/image-cropper.css"/>
</head>
<body>

    <!-- Include general header for when a valid logged in user session is found -->
    <div th:replace="fragments/header-usersession :: header-usersession"></div>

    <!-- Main Student details overview panel -->
    <div th:replace="fragments/student/user-overview-panel :: overview"></div>


    <div class="container" style="margin: 20px auto 20px auto; background-color: #e6e7e9; padding: 0;">

        <div class="blue-box" id="box-1">
            <img src="images/assets/platform/circled-checkmark.png" class="box-icon"/>
            <br />View Overall <br />Student Proficiency
        </div>

        <div class="blue-box" id="box-2">
            <a th:href="@{/overall-student-progress}">
                <img src="images/assets/platform/lightning-arrow.png" class="box-icon"/>
            </a>
            <br />View Overall <br /> Student Progress
        </div>

        <div class="blue-box" id="box-3">
            <img src="images/assets/platform/arrow-clock.png" class="box-icon"/>
            <br />Your Subscription<br /> Expires in <span th:text="${DaysTillSubscriptionExpire}"></span><br />

            <div th:if="${DisplaySubscriptionRenewal} == 'TRUE'">
                Click <a href="#" style="color: #fff;">Here</a> to Renew
            </div>
        </div>

    </div>

    <!-- Subscription overview panel -->
    <div class="container" style="margin: 20px auto 20px auto;">

        <div class="row" th:if="${Invalid_FORM_Submission} != null">
            <div class="alert alert-danger fade in" th:text="${Invalid_FORM_Submission}"></div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 large-font" style="margin: 0 0 0 40px; color: #54bf76">
                <span class="glyphicon glyphicon-piggy-bank"></span> Subscription Details
            </div>
        </div>

        <br/>

        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="padding-left: 50px; font-size: 24px;">
                <b>Subscription Type</b>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="font-size: 24px;">
                <b>Subscription Purchase Date</b>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="padding-left: 50px; font-size: 24px;" th:text="${SubscriptionInfo.getqPalXSubscription().getSubscriptionType()}"></div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="font-size: 24px;" th:text="${SubscriptionPurchaseDate}"></div>
        </div>

        <br/>

        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="padding-left: 50px; font-size: 24px;">
                <b>Expiration Date</b>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="font-size: 24px;">

            </div>
        </div>

        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="padding-left: 50px; font-size: 24px;" th:text="${SubscriptionExpireDate}"></div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="font-size: 24px;"></div>
        </div>

    </div>


    <!-- Student Tutorial Level Control Panel -->
    <div class="container" style="margin: 20px auto 20px auto;">
        <form th:action="@{/enroll-for-tutorial-grade}" th:object="${QPalXWebUserVO}" method="post">

            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 large-font" style="margin: 0 0 0 40px; color: #54bf76">
                    <span class="glyphicon glyphicon-education"></span> Student Tutorial Level Details
                </div>
            </div>

            <div class="row" th:if="${Invalid_Upgrade_Operation} != null">
                <div class="alert alert-danger fade in" th:inline="text">
                    <i class="glyphicon glyphicon-warning-sign"></i> &nbsp;
                    Enrollment To Tutorial Grade => <b>[[${Invalid_Upgrade_Operation.getRequestedStudentTutorialGrade().getTutorialGrade()}]]</b> Was Denied.  &nbsp;
                    <a href="#" data-toggle="modal" data-target="#myModal">Click Here To Review Why.</a>
                </div>
            </div>

            <br/>

            <div class="row">

                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 large-text" style="padding-left: 50px;">
                    <b>Education Level</b>
                </div>

                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 large-text">
                    <b>Grade Level</b>
                </div>

                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 large-text">
                    <b>Current School</b>
                </div>

            </div>

            <br />

            <div class="row">

                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 large-text" th:inline="text">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; [[${StudentTutorialGrade.getStudentTutorialLevel().getTutorialLevel()}]]
                </div>

                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 large-text">
                    <select id="grade" name="grade" class="dropdown-2" th:field="*{tutorialGradeID}">
                        <option th:each="StudentTutorialGrade : ${StudentTutorialGrades}" th:value="${StudentTutorialGrade.id}" th:text="${StudentTutorialGrade.tutorialGrade}" ></option>
                    </select>
                </div>

                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 large-text" th:inline="text">
                    [[${QPalXEducationalInstitution.getName()}]]
                </div>

            </div>

            <br/>

            <div class="row">

                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8"></div>

                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 large-text">
                    <button type="submit" class="btn btn-success">Enroll To New Tutorial Grade:</button>
                </div>

            </div>

        </form>
    </div>

    <!-- Account details overview panel -->
    <div class="container" style="margin: 20px auto 20px auto;">
        <form th:action="@{/update-account-info}" th:object="${QPalXWebUserVO}" method="post">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 large-font" style="margin: 0 0 0 40px; color: #54bf76">
                    <span class="glyphicon glyphicon-user"></span> Account Profile Details
                </div>
            </div>

            <br/>

            <div class="row">
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 large-text" style="padding-left: 50px;">
                    <b>First Name</b>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 large-text">
                    <b>Last Name</b>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 large-text">
                    <b>Email</b>
                </div>
            </div>

            <br />

            <div class="row">
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 large-text" style="padding-left: 50px" th:text="${LoggedInQPalXUser.getFirstName()}"></div>

                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 large-text" th:text="${LoggedInQPalXUser.getLastName()}"></div>

                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 large-text">
                    <input type="text" id="email" name="email" size="35" th:attr="value=${LoggedInQPalXUser.getEmail()}"  />
                </div>
            </div>

            <br />

            <div class="row">
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 large-text" style="padding-left: 50px;">
                    <b>Password</b>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 large-text">
                    <b>Confirm Password</b>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 large-text">
                    <b>Phone</b>
                </div>
            </div>

            <br />

            <div class="row">
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 large-text">
                    <input style="margin-left: 32px;" type="password" id="password" name="password" size="32" th:attr="value=${LoggedInQPalXUser.getPassword()}" />
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 large-text">
                    <input type="password" id="passwordConfirm" name="passwordConfirm" size="35" th:attr="value=${LoggedInQPalXUser.getPassword()}" />
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 large-text">
                    <input type="text" id="mobilePhoneNumber" name="mobilePhoneNumber" size="35" th:attr="value=${LoggedInQPalXUser.getMobilePhoneNumber()}" />
                </div>
            </div>

            <br />

            <div class="row">
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 large-text" style="padding-left: 50px;">
                    <b>Country</b>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 large-text">
                    <b>Region</b>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 large-text"></div>
            </div>

            <br />

            <div class="row">
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 large-text" th:inline="text" style="padding-left: 50px;">
                    [[${LoggedInQPalXUser.getQPalXMunicipality().getQPalXCountry().getCountryName()}]]
                </div>

                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 large-text" th:inline="text">
                    [[${LoggedInQPalXUser.getQPalXMunicipality().getName()}]]
                </div>

                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 large-text">
                    <button type="submit" id="submit" class="btn btn-success">Update Your Profile</button>
                </div>
            </div>
            <br /><br /><br />
        </form>
    </div>

    <!-- Include Footer for when user is logged in -->
    <div th:replace="fragments/footer-usersession :: footer-usersession"/>

    <!-- Popup to display reasons why Student Request to Enroll to new StudentTutorialGrade was rejected -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" th:if="${Invalid_Upgrade_Operation != null and Invalid_Upgrade_Operation.hasAdaptiveProficiencyRankingAnalysis()}">
        <div class="modal-dialog" role="document" style="width: 1200px;">
            <div class="modal-content">
                <div class="modal-header" style="background-color: #777; color: #fff;">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Why Your Request Was Denied?</h4>
                </div>
                <div class="modal-body">

                    <div class="whiteBody2">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <h5>Your Are Currently Performing Below Average:</h5>
                                <h6>Improve your average performance in all below Curriculum Areas before enrolling to a higher level.</h6>

                                <table width="100%" border="0" class="table-striped">
                                    <tr>
                                        <td><b>ELearning Curriculum</b></td>
                                        <td><b>Current Average(You are Averaging Between Range)</b></td>
                                    </tr>

                                    <tr th:each="AdaptiveProficiencyRanking,rowStat : ${Invalid_Upgrade_Operation.getAdaptiveProficiencyRankingAnalysis()}">
                                        <td th:inline="text">[[${AdaptiveProficiencyRanking.geteLearningCurriculum().getCurriculumName()}]]</td>
                                        <td th:inline="text">[[${AdaptiveProficiencyRanking.getProficiencyRankingScaleE().getProficiencyScoreRangeE().getScoreRange().getMinimum()}]]% - [[${AdaptiveProficiencyRanking.getProficiencyRankingScaleE().getProficiencyScoreRangeE().getScoreRange().getMaximum()}]]%</td>
                                    </tr>
                                </table>
                                <!--<ul>-->
                                    <!--<li th:each="AdaptiveProficiencyRanking,rowStat : ${Invalid_Upgrade_Operation.getAdaptiveProficiencyRankingAnalysis()}" th:inline="text">-->
                                        <!--[[${AdaptiveProficiencyRanking.geteLearningCurriculum().getCurriculumName()}]] - [[${AdaptiveProficiencyRanking.getProficiencyRankingScaleE().getProficiencyScoreRangeE().getScoreRange()}]]-->
                                    <!--</li>-->
                                <!--</ul>-->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer" style="background-color: #777;">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Popup to display reasons why Student Request to Enroll to new StudentTutorialGrade was rejected -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" th:if="${Invalid_Upgrade_Operation != null and Invalid_Upgrade_Operation.hasEnrolmentDecisionMessage()}">
        <div class="modal-dialog" role="document" style="width: 1200px;">
            <div class="modal-content">
                <div class="modal-header" style="background-color: #777; color: #fff;">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Why Your Request Was Denied?</h4>
                </div>
                <div class="modal-body">

                    <div class="whiteBody2">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <h3>Your Enrollment Request Was Denied:</h3>
                                <br/>
                                <h5 class="alert alert-danger" th:inline="text">[[${Invalid_Upgrade_Operation.getEnrolmentDecisionMessage().get()}]]</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer" style="background-color: #777;">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>


    <!-- jQuery first, then Bootstrap JS. -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script src="js/jquery.cropit.js"></script>
<script src="js/hr.js"></script>
<script src="js/hover.js"></script>
<script src="js/modal.js"></script>
<script src="js/progress-bar.js" type="text/javascript"></script>
<script src="js/modernizr.js" type="text/javascript"></script>
<script>
    $(function() {
        $('.image-editor').cropit();

        $('.rotate-cw').click(function() {
          $('.image-editor').cropit('rotateCW');
        });

        $('.rotate-ccw').click(function() {
          $('.image-editor').cropit('rotateCCW');
        });


        $('form').submit(function() {
          // Move cropped image data to hidden input
          var imageData = $('.image-editor').cropit('export');

          $('.hidden-image-data').val(imageData);

          // Submit form by returning true
          return true;
        });

      });
</script>
</body>
</html>