<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/global-style.css"/>
</head>

<body>

<!-- Include general header for when a valid logged in user session is found -->
<div th:replace="fragments/header-usersession :: header-usersession"></div>

<!-- Main Content Admin user details overview panel -->
<div th:replace="fragments/content-admin/user-overview-panel :: overview"></div>

<div class="container" style="margin-top: 10px; margin-bottom: 0px;">
    <div th:replace="fragments/platform-admin/platform-admin-navigation :: platform-admin-nav"></div>

    <!-- Header Row -->
    <div class="row">

        <!--<div class="col-md-1"></div>-->

        <div class="col-md-2 pull-left topmargin">
            <span class="small"><b>Subscription Code Batch UID</b></span>
        </div>

        <div class="col-md-2 pull-left topmargin">
            <span class="small"><b>Platform Partner</b></span>
        </div>

        <div class="col-md-2 pull-left topmargin">
            <span class="small"><b>Generation Date</b></span>
        </div>

        <div class="col-md-2 pull-left topmargin">
            <span class="small"><b>Redemption Completion Date</b></span>
        </div>

        <div class="col-md-1 pull-left topmargin">
            <span class="small"><b>Redeemed Codes Count</b></span>
        </div>

        <div class="col-md-1 pull-left topmargin">
            <span class="small"><b>Open Codes Count</b></span>
        </div>

        <div class="col-md-1 pull-left topmargin">
            <span class="small"><b>Total Codes Count</b></span>
        </div>

        <div class="col-md-1 pull-left topmargin"></div>

    </div>

    <div class="row" th:each="SubscriptionCodeBatchSessionStatistic,rowStat : ${AllSubscriptionCodeBatchSessionStatistics}">

        <!--<div class="col-md-1">-->
            <!--<span class="small" th:text="${rowStat.count}"></span>-->
        <!--</div>-->

        <div class="col-md-2 pull-left topmargin">
            <span class="small" th:text="${SubscriptionCodeBatchSessionStatistic.getSubscriptionCodeBatchSessionUID()}" />
        </div>

        <div class="col-md-2 pull-left topmargin">
            <span class="small" th:text="${SubscriptionCodeBatchSessionStatistic.getPlatformPartnerName()}" />
        </div>

        <div class="col-md-2 pull-left topmargin">
            <span class="small" th:text="${SubscriptionCodeBatchSessionStatistic.getBatchGenerationDateAsString()}" />
        </div>

        <div class="col-md-2 pull-left topmargin">
            <span class="small" th:text="${SubscriptionCodeBatchSessionStatistic.getBatchRedemptionCompletionDate()}" />
        </div>

        <div class="col-md-1 pull-left topmargin">
            <span class="small" th:text="${SubscriptionCodeBatchSessionStatistic.getTotalNumberOfRedeemedPrepaidCodes()}" />
        </div>

        <div class="col-md-1 pull-left topmargin">
            <span class="small" th:text="${SubscriptionCodeBatchSessionStatistic.getTotalNumberOfOpenPrePaidCodes()}" />
        </div>

        <div class="col-md-1 pull-left topmargin">
            <span class="small" th:text="${SubscriptionCodeBatchSessionStatistic.getTotalNumberOfPrePaidCodes()}" />
        </div>

        <div class="col-md-1 pull-left vtop">
            <a th:href="@{/view-all-prepaid-subscription-codes-excel(subscriptionCodeBatchSessionID=${SubscriptionCodeBatchSessionStatistic.getSubscriptionCodeBatchSessionID()})}"><img src="images/assets/platform/downloads-icon.png"  /></a>
            <!--<button type="button" value="0" th:onclick="'document.location.href=\'' + @{/view-all-prepaid-subscription-codes-excel(subscriptionCodeBatchSessionID=${SubscriptionCodeBatchSessionStatistic.getSubscriptionCodeBatchSessionID()})} + '\''">-->
                <!--<img src="images/assets/platform/downloads-icon.png"  />-->
            <!--</button>-->
        </div>

    </div>

</div>
<div class="clearfix bottom-space"></div>

<!-- Include Footer for when user is logged in -->
<div th:replace="fragments/footer-usersession :: footer-usersession"/>

<!-- jQuery first, then Bootstrap JS. -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js" integrity="sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7" crossorigin="anonymous"></script>
</body>
</html>