<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/global-style.css"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<!-- Include general header for when a valid logged in user session is found -->
<div th:replace="fragments/header-usersession :: header-usersession"></div>

<!-- Main Student details overview panel -->
<div th:replace="fragments/student/user-overview-panel :: overview"></div>

<div class="container" style="margin: 20px auto 20px auto;">

    <!-- Tutorial Level navigation panel -->
    <div th:replace="fragments/student/tutorial-level-calendar-nav :: academic-calendar"></div>

    <!-- Start Lessons display -->
    <div th:each="QPalXELesson,rowStat : ${QPalXELessons}">

        <div class="row">

            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1" >
                <!--Current Proficiency: <span th:text="${GlobalPerformance.getCurrentProficiencyRankingScaleE().getProficiencyRanking()}"></span>-->

                <!-- Remove lock icon to indicate that this Lesson is open for the Student to access -->
                <!-- Formula to determine if proficiency is in range(1 to 3):   boolean x = 1 <= 5 && (5 <= 3 || 5 >= 3); -->
                <div th:if="${QPalXELesson.getProficiencyRankingScaleFloor() &lt;= GlobalPerformance.getCurrentProficiencyRankingScaleE().getProficiencyRanking() and (GlobalPerformance.getCurrentProficiencyRankingScaleE().getProficiencyRanking() &lt;=  QPalXELesson.getProficiencyRankingScaleCeiling() || GlobalPerformance.getCurrentProficiencyRankingScaleE().getProficiencyRanking() &gt;=  QPalXELesson.getProficiencyRankingScaleCeiling())}">
                    <span th:text="${rowStat.count}"></span> &nbsp;&nbsp;
                </div>

                <!-- Show Lock Icon to indicate that this Lesson is currently locked and Student cannot access because their proficiency is less than the required Ceiling proficiency of the Lesson -->
                <div th:if="${GlobalPerformance.getCurrentProficiencyRankingScaleE().getProficiencyRanking() &lt;  QPalXELesson.getProficiencyRankingScaleFloor()}">
                    <span th:text="${rowStat.count}"></span> &nbsp;&nbsp;
                    <span class="glyphicon glyphicon-lock"></span>
                </div>

            </div>

            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" data-toggle="tooltip" data-placement="top" title="Proficiency Ranking Required.">
                <span th:each="RequiredProficiency,rowStat : ${QPalXELesson.getProficiencyRankingRangeForLesson()}">

                    <div class="round round-sm hollow red" th:if="${RequiredProficiency.getProficiencyRanking() == 1 OR RequiredProficiency.getProficiencyRanking() == 2 OR RequiredProficiency.getProficiencyRanking() == 3}">
                        <b th:inline="text">[[${RequiredProficiency.getProficiencyRanking()}]]</b>
                    </div>

                    <div class="round round-sm hollow orange" th:if="${RequiredProficiency.getProficiencyRanking() == 4 OR RequiredProficiency.getProficiencyRanking() == 5 OR RequiredProficiency.getProficiencyRanking() == 6}">
                        <b th:inline="text">[[${RequiredProficiency.getProficiencyRanking()}]]</b>
                    </div>

                    <div class="round round-sm hollow yellow" th:if="${RequiredProficiency.getProficiencyRanking() == 7 OR RequiredProficiency.getProficiencyRanking() == 8 OR RequiredProficiency.getProficiencyRanking() == 9}">
                        <b th:inline="text">[[${RequiredProficiency.getProficiencyRanking()}]]</b>
                    </div>

                </span>

            </div>

            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 large-fonts">

                <!-- IF Current Student Ranking is >= Lesso Ranking then Student can access so link to Lesson for clicking by student -->
                <!-- Formula to determine if proficiency is in range(1 to 3):   boolean x = 1 <= 5 && (5 <= 3 || 5 >= 3); -->
                <div th:if="${QPalXELesson.getProficiencyRankingScaleFloor() &lt;= GlobalPerformance.getCurrentProficiencyRankingScaleE().getProficiencyRanking() and (GlobalPerformance.getCurrentProficiencyRankingScaleE().getProficiencyRanking() &lt;=  QPalXELesson.getProficiencyRankingScaleCeiling() || GlobalPerformance.getCurrentProficiencyRankingScaleE().getProficiencyRanking() &gt;=  QPalXELesson.getProficiencyRankingScaleCeiling())}">
                    <a th:href="@{/view-micro-lessons(eLessonID=${QPalXELesson.getLessonID()}, tutorialLevelID=${SelectedTutorialCalendar.id})}">
                        <span class="blue" th:text="${QPalXELesson.getLessonName()}"></span>
                    </a>
                </div>

                <!-- Student cannot access this Lesson.  Their proficiency is currently below the required so remove link to prevent them from accessing -->
                <div th:if="${GlobalPerformance.getCurrentProficiencyRankingScaleE().getProficiencyRanking() &lt;  QPalXELesson.getProficiencyRankingScaleFloor()}">
                    <span class="gray" th:text="${QPalXELesson.getLessonName()}"></span>
                </div>

            </div>

            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                <div class="topmargin-3">
                    <progress class="progressbar" value="0" max="100" th:attr="data-max=${QPalXELesson.getTotalLessonCompletionRate()}"></progress>
                    <span class="progress-value">0%</span>
                </div>
            </div>

            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3"></div>

        </div>

        <br/> <br/>
    </div>
    <!-- End Lessons display -->

</div>


<!-- Build modals to popup on clicking QPalx lessons displayed above.  We used the id of modal attributes to link a lesson to its introductory video -->
<div th:each="QPalXELesson,rowStat : ${QPalXELessons}">

    <div th:id="'popup' + ${rowStat.count}" class="modalBox" th:if="${QPalXELesson.getLessonMediaFile()} != null">
        <a href="#" class="modalCloseOuter" onClick="stopVideo();"></a>
        <div class="mp4">
            <div class="bar-1"></div>
            <a href="#" style="float:right; margin: 20px 40px 20px 0;" onClick="stopVideo();">Close</a>
            <div class="modalBody">
                <video oncontextmenu="return false;" width="800" id="modal-box" controls="controls">
                    <source th:src="${QPalXELesson.getLessonMediaFile()}" type="video/mp4"/>
                    Your browser does not support HTML5 video.
                </video>
            </div>
            <div class="bar-3"></div>
        </div>
    </div>

</div>


<!-- Include Footer for when user is logged in -->
<div th:replace="fragments/footer-usersession :: footer-usersession"/>

<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
});
</script>
</body>
</html>