<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>

    <!-- Angular JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

    <!-- Bootstrap CSS latest compiled version -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/global-style.css"/>
</head>
<body ng-app="staticSelect">

<!-- Include general header for no logged in user session found -->
<div th:replace="fragments/header-nosession :: header-nosession"></div>

<h1>Sign Up</h1>
<div class="container">
    <form th:action="@{/select-signup-payment}" th:object="${QPalXWebUserVO}" method="post">

        <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>

        <div class="col-md-2">

            <span class="three-circle-blue">
                <span class="three-blue"><b>1</b></span>
            </span>

            <span class="three-text-blue"><b> Account</b></span>
        </div>

        <div class="col-md-2"><span class="three-circle-gray"><span class="three-gray">2</span></span> Payment</div>

        <div class="col-md-2"><span class="three-circle-gray"><span class="three-gray">3</span></span> Proficiency</div>

        <div class="clearfix"></div>
        <div class="col-md-2">
            <hr id="blue-line"/>
        </div>
        <div class="col-md-10">
            <hr id="gray-line"/>
        </div>

        <div class="clearfix bottom-space"></div>


        <!-- Display all validation errors -->
        <div class="alert row" th:if="${#fields.hasErrors()}">

            <div th:if="${#fields.hasErrors('firstName')}">
                <div class="alert-danger fade in col-sm-12">* First Name is required.</div>
            </div>

            <br/>

            <div th:if="${#fields.hasErrors('lastName')}">
                <div class="alert-danger fade in col-sm-12">* Last Name is required.</div>
            </div>

            <br/>

            <div th:if="${#fields.hasErrors('email')}">
                <div class="alert-danger fade in col-sm-12">* Valid email is required.</div>
            </div>

            <br/>

            <div th:if="${#fields.hasErrors('password')}">
                <div class="alert-danger fade in col-sm-12">* Password is required.</div>
            </div>

            <br/>

            <div th:if="${#fields.hasErrors('passwordConfirm')}">
                <div class="alert-danger fade in col-sm-12">* Password Confirm is required.</div>
            </div>

            <div th:if="${#fields.hasErrors('mobilePhoneNumber')}">
                <div class="alert-danger fade in col-sm-12">* Valid Mobile phone number is required.</div>
            </div>

        </div>
        <!-- End validations display -->

        <!-- Display domain specific validations -->
        <div th:if="${StudentSignupDomainError != null}">
            <div class="alert-danger fade in col-sm-12" th:text="${StudentSignupDomainError}"></div>
        </div>


        <div class="clearfix bottom-space"></div>

        <div class="col-md-3"><b>Account Information</b></div>

        <div class="col-md-9"></div>

        <div class="clearfix bottom-space"></div>

        <div class="col-md-3"><img src="images/assets/sign-up/avatar.png"/></div>

        <div class="col-md-9"></div>

        <div class="clearfix bottom-space"></div>

        <div class="col-md-3">First name</div>
        <div class="col-md-3">Last name</div>
        <div class="col-md-6" id="password">Password</div>

        <div class="clearfix"></div>


        <div class="col-md-3"><input type="text" size="26" id="first" th:field="*{firstName}"/><span id="first-name"></span></div>
        <div class="col-md-3"><input type="text" size="26" id="last" th:field="*{lastName}"/><span id="last-name"></span></div>
        <div class="col-md-6"><input type="password" size="61" class="password" id="password-1" th:field="*{password}"/></div>

        <div class="clearfix bottom-space"></div>
        <div class="col-md-6">Email</div>
        <div class="col-md-6">Confirm Password</div>

        <div class="clearfix"></div>
        <div class="col-md-6"><input type="email" class="email" size="61" th:field="*{email}"/><span id="tooltip-1"></span></div>

        <div class="col-md-6">
            <input type="password" size="61" class="password" id="password-2" th:field="*{passwordConfirm}"/><span id="password-confirm"></span>
        </div>

        <div class="clearfix bottom-space"></div>
        <div class="col-md-3"></div>
        <div class="col-md-3">Grade Level</div>
        <div class="col-md-3">Country</div>
        <div class="col-md-3">Region</div>
        <div class="clearfix"></div>
        <div class="col-md-3">
            <!--<select class="dropdown" th:field="*{studentTutorialLevelID}">-->
                <!--<option value="">Choose Your Tutorial Level</option>-->
                <!--<option value="5">Junior High School</option>-->
                <!--<option value="4">Senior High School</option>-->
            <!--</select>-->
        </div>
        <div class="col-md-3">
            <select class="dropdown" th:field="*{tutorialGradeID}">
                <option th:each="StudentTutorialGrade : ${StudentTutorialGrades}" th:value="${StudentTutorialGrade.id}"
                        th:text="${StudentTutorialGrade.tutorialGrade}"></option>
            </select>
        </div>
        <div class="col-md-3">
            <select id="countries" name="countries" class="dropdown">
                <option value="Ghana">Ghana</option>
            </select>
        </div>
        <div class="col-md-3">
            <select class="dropdown" th:field="*{municipalityID}">
                <option th:each="QPalXMunicipality : ${QPalXMunicipalities}" th:value="${QPalXMunicipality.id}" th:text="${QPalXMunicipality.name}"></option>
            </select>
        </div>
        <div class="clearfix bottom-space"></div>
        <div class="col-md-6">Current School</div>
        <div class="col-md-3">Zip/Postal</div>
        <div class="col-md-3">Phone</div>

        <div class="clearfix"></div>
        <div class="col-md-6">
            <select class="dropdown" th:field="*{educationalInstitutionID}">
                <option th:each="QPalXEducationalInstitution : ${QPalXEducationalInstitutions}" th:value="${QPalXEducationalInstitution.id}" th:text="${QPalXEducationalInstitution.name}"></option>
            </select>
        </div>
        <div class="col-md-3"><input type="text" size="30" id="zip"/><span id="zip-code"></span></div>
        <div class="col-md-3"><input type="text" size="30" id="phone" th:field="*{mobilePhoneNumber}"/><span id="phone-number"></span></div>

        <div class="clearfix bottom-space"></div>
        <div class="col-md-12 continue">
            <button type="submit" class="btn btn-success">Continue</button>
        </div>
    </form>
</div>

<div class="clearfix bottom-space"></div>


<!-- Include Footer for when user is logged in -->
<div th:replace="fragments/footer-usersession :: footer-usersession"/>

<!-- jQuery first, then Bootstrap JS. -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script type="text/javascript" language="javascript">
        function onFocus(el) {
            if (el.value == el.defaultValue) {
                el.value = '';
            }
        }
</script>
</body>
</html>