<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.2/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="css/global-style.css"/>
    <link rel="stylesheet" href="css/adaptive-quiz-style.css"/>
</head>
<body>

<!-- Include general header for when a valid logged in user session is found -->
<div th:replace="fragments/header-usersession :: header-usersession"></div>

<div class="container" style="margin: 20px auto;">
    <div class="row">

        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
            <div class="circle"></div>
        </div>

        <div class="col-md-9"><span class="very-large-text-2" th:text="|Quiz-  ${LaunchedAdaptiveLearningQuiz.getQuizTitle()}|"></span></div>
    </div>

    <div class="row">
        <div class="col-md-12 very-large-text-4">
            <span th:text="|Question ${AdaptiveQuizQuestionScoreVO.getQuizQuestionModelID()}|"></span> of
            <span th:text="${LaunchedAdaptiveLearningQuizQuestions.size()}"></span>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12" style="margin: auto; text-align: center;">
            <!--<i class="fa fa-circle spacing" style="color: #0abfd2;" aria-hidden="true"></i>-->
            <!--<i class="fa fa-circle-o spacing" aria-hidden="true"></i>-->
            <!--<i class="fa fa-circle-o spacing" aria-hidden="true"></i>-->
            <!--<i class="fa fa-circle-o spacing" aria-hidden="true"></i>-->
            <!--<i class="fa fa-circle-o spacing" aria-hidden="true"></i>-->

            <span th:each="QuestionModelMap : ${LaunchedAdaptiveLearningQuizQuestions}">
                <span th:if="${AdaptiveQuizQuestionScoreVO.getQuizQuestionModelID() == QuestionModelMap.key}">
                    <i class="fa fa-circle spacing" style="color: #0abfd2;" aria-hidden="true"></i>
                </span>

                <span th:if="${AdaptiveQuizQuestionScoreVO.getQuizQuestionModelID() != QuestionModelMap.key}">
                    <i class="fa fa-circle-o spacing" aria-hidden="true"></i>
                </span>
            </span>
        </div>
    </div>
</div>
<div class="container large-fonts-2" style="margin: 20px auto;">

    <!-- Display Quiz Question -->
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-11">

            <p class="very-large-text-3" th:text="${LaunchedAdaptiveLearningQuizQuestion.getQuestionTitle()}"></p>
        </div>
    </div>
    <br/>

    <form method="POST" th:action="@{submit-quiz-question-answer}" th:object="${AdaptiveQuizQuestionScoreVO}">
        <!-- Display all Quiz Question Answers -->
        <div th:each="LaunchedAdaptiveLearningQuizQuestionAnswer,rowStat : ${LaunchedAdaptiveLearningQuizQuestionAnswers}">
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-1">
                    <input type="radio" class="radio-blue" th:value="${LaunchedAdaptiveLearningQuizQuestionAnswer.getQuizQuestionAnswerText()}" th:field="*{userSelectedAnswerText}"/>
                </div>
                <div class="col-md-10" th:text="${LaunchedAdaptiveLearningQuizQuestionAnswer.getQuizQuestionAnswerText()}"></div>
            </div>
            <br/>
        </div>

        <!-- Hidden field to track the current Question Model ID that we are on -->
        <input type="hidden" name="quizQuestionModelID" th:value="${AdaptiveQuizQuestionScoreVO.getQuizQuestionModelID()}"/>

        <br/>
        <div class="row">
            <!-- Show exit quiz -->


            <!-- Show Next Question -->
            <div class="col-md-12" style="margin: auto; text-align: center;" th:if="${ShowQuizCalculationTrigger == false}">
                <button type="submit" class="next-question">Next Question</button>
            </div>

            <!-- Show Submit Quiz button -->
            <div class="col-md-12" style="margin: auto; text-align: center;" th:if="${ShowQuizCalculationTrigger == true}">
                <button type="submit" class="next-question">Get Quiz Results</button>
            </div>
        </div>
        <br/>
    </form>

</div>


<!-- Include Footer for when user is logged in -->
<div th:replace="fragments/footer-usersession :: footer-usersession"/>

<!-- jQuery first, then Bootstrap JS. -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>