<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.2/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="css/style.css"/>

</head>
<body>
<div th:fragment="tutorialgrade-control-panel">

    <!-- Start Admin tutorial grade control and Add new course panel -->
    <div class="container" style="margin-bottom: 20px;">

        <!-- SHS1 is selected -->
        <div class="row" th:if="${StudentTutorialGrade.tutorialGrade} == 'SHS1'">

            <div class="col-md-2">
                <b class="green">SHS1</b>
                <hr class="green-hr-I" id="hr-I" />
            </div>

            <div class="col-md-2" style="margin-left: -80px; cursor: pointer;">
                <a th:href="@{/curriculum-by-tutorialgrade(tutorialGradeID='2',curriculumType=${CurriculumType})}"><b>SHS2</b></a>
                <hr class="black-hr-I"/>
            </div>

            <div class="col-md-2" style="margin-left: -80px; cursor: pointer;">
                <a th:href="@{/curriculum-by-tutorialgrade(tutorialGradeID='3',curriculumType=${CurriculumType})}"><b>SHS3</b></a>
                <hr class="black-hr-I"/>
            </div>

            <div class="col-md-2"></div>

            <!-- View Course Activities Mode:  Add Lessons option enabled -->
            <div class="col-md-4" style="cursor: pointer;" th:if="${AddLessonsEnabled} == 'true'">
                <span class="course-2">
                    <a th:href="@{/add-qpalx-elesson(eLearningCourseID=${SelectedELearningCourse.id})}">Add QPalX Lesson</a>
                    <span class="glyphicon glyphicon-plus"/>
                </span>
            </div>
            <!-- End View Course Activities Mode:  -->


            <!-- Lesson Activities View Mode:  IF current mode is viewing all Lesson activities, display add micro lesson and question bank -->
            <div class="col-md-2" style="cursor: pointer;" th:if="${AddMicroLessonsEnabled} == 'true'">
                    <span class="course-2">
                        <a th:href="@{/add-qpalx-microlesson(qpalxELessonID=${SelectedQPalXELesson.id})}">Add Micro Lesson</a>
                        <span class="glyphicon glyphicon-plus"/>
                    </span>
            </div>

            <div class="col-md-2" style="cursor: pointer;" align="left" th:if="${AddMicroLessonsEnabled} == 'true'">
                    <span class="course-2">
                        <a th:href="@{/add-question-bank(qpalxELessonID=${SelectedQPalXELesson.id})}">Add QuestionBank Item</a>
                        <span class="glyphicon glyphicon-plus"/>
                    </span>
            </div>
            <!-- End Lesson Activities View Mode -->


            <!-- View Micro Lessons Activities Mode:  Add Adaptive Quiz enabled -->
            <div class="col-md-4" style="cursor: pointer;" th:if="${AddMicroLessonActivitiesEnabled} == 'true'">
                <a th:href="@{/create-qpalx-quiz(microLessonID=${SelectedQPalXMicroLesson.id})}">Add Adaptive Quiz</a>
                <span class="glyphicon glyphicon-plus"/>
            </div>
            <!-- End View Micro Lessons Activities Mode -->

        </div>

        <!-- SHS2 is selected -->
        <div class="row" th:if="${StudentTutorialGrade.tutorialGrade} == 'SHS2'">

            <div class="col-md-2" style="cursor: pointer;">
                <a th:href="@{/curriculum-by-tutorialgrade(tutorialGradeID='1',curriculumType=${CurriculumType})}"><b>SHS1</b></a>
                <hr class="black-hr-I" />
            </div>

            <div class="col-md-2">
                <b class="green">SHS2</b>
                <hr class="green-hr-I"/>
            </div>

            <div class="col-md-2" style="margin-left: -80px; cursor: pointer;">
                <a th:href="@{/curriculum-by-tutorialgrade(tutorialGradeID='3',curriculumType=${CurriculumType})}"><b>SHS3</b></a>
                <hr class="black-hr-I"/>
            </div>

            <div class="col-md-2"></div>

            <!-- View Course Activities Mode:  Add Lessons option enabled -->
            <div class="col-md-4" style="cursor: pointer;" th:if="${AddLessonsEnabled} == 'true'">
                <span class="course-2">
                    <a th:href="@{/add-qpalx-elesson(eLearningCourseID=${SelectedELearningCourse.id})}">Add QPalX Lesson</a>
                    <span class="glyphicon glyphicon-plus"/>
                </span>
            </div>
            <!-- End View Course Activities Mode:  -->


            <!-- Lesson Activities View Mode:  IF current mode is viewing all Lesson activities, display add micro lesson and question bank -->
            <div class="col-md-2" style="cursor: pointer;" th:if="${AddMicroLessonsEnabled} == 'true'">
                    <span class="course-2">
                        <a th:href="@{/add-qpalx-microlesson(qpalxELessonID=${SelectedQPalXELesson.id})}">Add Micro Lesson</a>
                        <span class="glyphicon glyphicon-plus"/>
                    </span>
            </div>

            <div class="col-md-2" style="cursor: pointer;" align="left" th:if="${AddMicroLessonsEnabled} == 'true'">
                    <span class="course-2">
                        <a th:href="@{/add-question-bank(qpalxELessonID=${SelectedQPalXELesson.id})}">Add QuestionBank Item</a>
                        <span class="glyphicon glyphicon-plus"/>
                    </span>
            </div>
            <!-- End Lesson Activities View Mode -->


            <!-- View Micro Lessons Activities Mode:  Add Adaptive Quiz enabled -->
            <div class="col-md-4" style="cursor: pointer;" th:if="${AddMicroLessonActivitiesEnabled} == 'true'">
                <a th:href="@{/create-qpalx-quiz(microLessonID=${SelectedQPalXMicroLesson.id})}">Add Adaptive Quiz</a>
                <span class="glyphicon glyphicon-plus"/>
            </div>
            <!-- End View Micro Lessons Activities Mode -->

        </div>

        <!-- SHS3 is selected -->
        <div class="row" th:if="${StudentTutorialGrade.tutorialGrade} == 'SHS3'">

            <div class="col-md-2" style="cursor: pointer;">
                <a th:href="@{/curriculum-by-tutorialgrade(tutorialGradeID='1',curriculumType=${CurriculumType})}"><b>SHS1</b></a>
                <hr class="black-hr-I" />
            </div>

            <div class="col-md-2" style="margin-left: -80px; cursor: pointer;">
                <a th:href="@{/curriculum-by-tutorialgrade(tutorialGradeID='2',curriculumType=${CurriculumType})}"><b>SHS2</b></a>
                <hr class="black-hr-I"/>
            </div>

            <div class="col-md-2">
                <b class="green">SHS3</b>
                <hr class="green-hr-I"/>
            </div>

            <div class="col-md-2"></div>

            <!-- View Course Activities Mode:  Add Lessons option enabled -->
            <div class="col-md-4" style="cursor: pointer;" th:if="${AddLessonsEnabled} == 'true'">
                <span class="course-2">
                    <a th:href="@{/add-qpalx-elesson(eLearningCourseID=${SelectedELearningCourse.id})}">Add QPalX Lesson</a>
                    <span class="glyphicon glyphicon-plus"/>
                </span>
            </div>
            <!-- End View Course Activities Mode:  -->


            <!-- Lesson Activities View Mode:  IF current mode is viewing all Lesson activities, display add micro lesson and question bank -->
            <div class="col-md-2" style="cursor: pointer;" th:if="${AddMicroLessonsEnabled} == 'true'">
                    <span class="course-2">
                        <a th:href="@{/add-qpalx-microlesson(qpalxELessonID=${SelectedQPalXELesson.id})}">Add Micro Lesson</a>
                        <span class="glyphicon glyphicon-plus"/>
                    </span>
            </div>

            <div class="col-md-2" style="cursor: pointer;" align="left" th:if="${AddMicroLessonsEnabled} == 'true'">
                    <span class="course-2">
                        <a th:href="@{/add-question-bank(qpalxELessonID=${SelectedQPalXELesson.id})}">Add QuestionBank Item</a>
                        <span class="glyphicon glyphicon-plus"/>
                    </span>
            </div>
            <!-- End Lesson Activities View Mode -->


            <!-- View Micro Lessons Activities Mode:  Add Adaptive Quiz enabled -->
            <div class="col-md-4" style="cursor: pointer;" th:if="${AddMicroLessonActivitiesEnabled} == 'true'">
                <a th:href="@{/create-qpalx-quiz(microLessonID=${SelectedQPalXMicroLesson.id})}">Add Adaptive Quiz</a>
                <span class="glyphicon glyphicon-plus"/>
            </div>
            <!-- End View Micro Lessons Activities Mode -->

        </div>

    </div>
    <!-- Start Admin tutorial grade control and Add new course panel -->

</div>
</body>
</html>