<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.2/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="css/style.css"/>

</head>
<body>
<div th:fragment="tutorialgrade-control-panel">

    <!-- Start Admin tutorial grade control and Add new course panel -->
    <div class="container" style="margin: 20px auto 20px auto;">

        <!-- Display Tutorial Level calendar under Lessons display page -->
        <div class="row">
            <div th:each="CurrentStudentTutorialGrade,rowStat : ${StudentTutorialGrades}" class="col-xs-3 col-sm-3 col-md-3 col-lg-3">

                <div th:if="${CurrentStudentTutorialGrade.tutorialGrade} == ${StudentTutorialGrade.tutorialGrade}">
                    <!--<span class="three-text-blue" th:text="${CurrentStudentTutorialGrade.tutorialGrade}"></span>-->
                    <b class="green" th:inline="text">[[${CurrentStudentTutorialGrade.tutorialGrade}]]</b>
                    <hr class="green-hr-I" />
                </div>

                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" style="cursor: pointer;" th:onclick="'document.location.href=\'' + @{/curriculum-by-tutorialgrade(tutorialGradeID=${CurrentStudentTutorialGrade.id}, curriculumType=${CurriculumType})} + '\''" th:if="${CurrentStudentTutorialGrade.tutorialGrade} != ${StudentTutorialGrade.tutorialGrade}">
                    <span th:text="${CurrentStudentTutorialGrade.tutorialGrade}"></span>
                </div>

            </div>

            <!--  Add Course mode enabled -->
            <div class="col-md-2" style="cursor: pointer;" th:if="${AddCoursesEnabled} == 'true'">
                <img src="images/assets/platform/add-icon-image.png"/>
                <a th:href="@{/add-curriculum-course(curriculumID=${SelectedELearningCurriculum.id})}">Add Course</a>
            </div>
            <!-- End Add Course -->

            <!-- View Course Activities Mode:  Add Lessons option enabled -->
            <div class="col-md-2" style="cursor: pointer;" th:if="${AddLessonsEnabled} == 'true'">
                <img src="images/assets/platform/add-icon-image.png"/>
                <a th:href="@{/add-qpalx-elesson(eLearningCourseID=${SelectedELearningCourse.id})}">Add QPalX Lesson</a>
            </div>
            <!-- End View Course Activities Mode:  -->

            <!-- Lesson Activities View Mode:  IF current mode is viewing all Lesson activities, display add micro lesson and question bank -->
            <div class="col-md-2" style="cursor: pointer;" th:if="${AddMicroLessonsEnabled} == 'true'">
                <img src="images/assets/platform/add-icon-image.png"/>
                <a th:href="@{/microlesson-create-start(qpalxELessonID=${SelectedQPalXELesson.id})}">Add Micro Lesson</a>
            </div>

            <div class="col-md-2" style="cursor: pointer;" align="left" th:if="${AddMicroLessonsEnabled} == 'true'">
                <img src="images/assets/platform/add-icon-image.png"/>
                <a th:href="@{/add-question-bank(qpalxELessonID=${SelectedQPalXELesson.id})}">Add QuestionBank Item</a>
            </div>
            <!-- End Lesson Activities View Mode -->

            <!-- View Micro Lessons Activities Mode:  Add Adaptive Quiz enabled -->
            <div class="col-md-2" style="cursor: pointer;" th:if="${AddMicroLessonActivitiesEnabled} == 'true'">
                <img src="images/assets/platform/add-icon-image.png"/>
                <a th:href="@{/create-qpalx-quiz(microLessonID=${SelectedQPalXMicroLesson.id})}">Add Adaptive Quiz</a>
            </div>
            <!-- End View Micro Lessons Activities Mode -->
        </div>


    </div>
    <!-- Start Admin tutorial grade control and Add new course panel -->

</div>
</body>
</html>