<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>

    <script src="js/ckeditor.js"></script>
    <script src="js/sample.js"></script>

    <!-- Angular JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.2/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="css/global-style.css"/>
    <link rel="stylesheet" href="css/adaptive-quiz-style.css"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
<div th:fragment="image-multi-choice-question-panel">

    <!-- Note that for Image multi choice option of editing image file directly here has been disabled in favor of in question-media-edit page -->
    <!-- Question types displayed based on the selected Adaptive Quiz Question Type -->
    <div class="container large-fonts-2" style="margin: 20px auto;">
        <form method="POST" th:action="@{submit-question-edit-update}" th:object="${AdaptiveLearningQuizQuestionVO}" >

            <!-- Display image for question here.  No editing allowed here -->
            <div class="row" th:if="${AdaptiveLearningQuizQuestion.getQuizQuestionMultiMedia() != null}">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    <br />
                    <div id="shadowed">
                        <div class="black-bar"></div>
                        <div id="quiz-image">
                            <img th:src="${AdaptiveLearningQuizQuestion.getQuizQuestionMultiMedia().getELearningMediaFile()}"/>
                        </div>
                        <div class="black-bar"></div>
                    </div>
                </div>
                <div class="col-md-1"></div>
            </div>

            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10"><h4><span class="label label-primary">Enter Question Title</span></h4></div>
                <div class="col-md-1"></div>
            </div>

            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    <span class="large-fonts-3">
                        <textarea rows="1" cols="67" class="text-box-2"  th:field="*{questionTitle}" th:value="${AdaptiveLearningQuizQuestionVO.questionTitle}" ></textarea>
                    </span><br/>
                </div>
                <div class="col-md-1"></div>
            </div>

            <br/>

            <!-- Display all Question Answers with corresponding radio button -->
            <div class="row" th:each="AdaptiveLearningQuizQuestionAnswerVO, rowStat : *{quizQuestionAnswers}">
                <div class="col-md-2"></div>

                <!-- Display radio button to indicate if selection is true or false -->
                <div class="col-md-1 topmargin-5">
                    <input type="radio" class="radio-blue" th:value="${rowStat.index}" th:field="*{correctAnswerIndex}" th:checked="${AdaptiveLearningQuizQuestionAnswerVO.isCorrectAnswer()}"/>
                </div>

                <!-- Display textarea with question answers by index -->
                <div class="col-md-9">
                    <textarea rows="1" cols="67" class="text-box-2" th:field="*{quizQuestionAnswers[__${rowStat.index}__].quizQuestionAnswerText}"  th:inline="text">[[${AdaptiveLearningQuizQuestionAnswerVO.getQuizQuestionAnswerText()}]]</textarea>
                    <!--<input type="hidden" th:field="*{quizQuestionAnswers[__${rowStat.index}__].quizQuestionAnswerText}" />-->
                </div>
                <br/>
            </div>



            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10"><h4><span class="label label-primary">Enter Question FeedBack</span></h4></div>
                <div class="col-md-1"></div>
            </div>

            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    <textarea id="editor" name="editor" th:field="*{questionFeedBack}" th:value="${AdaptiveLearningQuizQuestionVO.questionFeedBack}"></textarea><br/>
                </div>
                <div class="col-md-1"></div>
            </div>

            <!-- Hidden field to set back the value of the Quiz QuestionType-->
            <input type="hidden" th:value="${AdaptiveLearningQuizQuestionVO.adaptiveLearningQuizQuestionTypeE}" name="adaptiveLearningQuizQuestionTypeE"/>

            <br/>

            <div class="row">
                <div class="col-md-12">
                    <div style="margin: auto; text-align: center">
                        <button type="submit" id="submit" class="btn btn-success">Update Quiz Question Details</button>
                    </div>
                    <br/>
                </div>
                <div class="col-md-1"></div>
            </div>
        </form>
    </div>

    <!-- Uploaded Quiz Question Multi media displayed in modal popup -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" th:if="${AdaptiveLearningQuizQuestion.getQuizQuestionMultiMedia() != null}">
        <div class="modal-dialog" role="document" style="width: 1200px;">
            <div class="modal-content">
                <div class="modal-header" style="background-color: #777; color: #fff;">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Uploaded Item</h4>
                </div>
                <div class="modal-body">

                    <div class="whiteBody2">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" th:inline="text">
                                File Name - [[${AdaptiveLearningQuizQuestion.getQuizQuestionMultiMedia().getActualFileName()}]]
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <img th:src="${AdaptiveLearningQuizQuestion.getQuizQuestionMultiMedia().getELearningMediaFile()}"/>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer" style="background-color: #777;">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>


</div>
</body>
</html>