<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/global-style.css"/>
</head>
<body>

<!-- Include general header for when a valid logged in user session is found -->
<div th:replace="fragments/header-usersession :: header-usersession"></div>

<!-- Main Content Admin user details overview panel -->
<div th:replace="fragments/content-admin/user-overview-panel :: overview"></div>

<!-- Include Student User general Account information panel -->
<div th:replace="fragments/content-admin/admin-tutorialgrade-panel :: tutorialgrade-panel"/>

<!-- Include Admin Curriculum Control Navigation Panel -->
<div th:replace="fragments/content-admin/admin-curriculum-nav-panel :: navigation-panel"/>

<!-- Entire Curriculum available to Content Developer list -->
<div class="container" style="margin-top: 10px; margin-bottom: 0px;">


    <div th:each="ELearningCurriculum,rowStat : ${ELearningCurricula}">

        <div class="row">
            <div class="col-md-1 num" th:text="${rowStat.count}"/>
            <div class="col-md-2">
                <img th:src="${ELearningCurriculum.curriculumIcon}" class="subjects" />
            </div>
            <div class="col-md-4 curr">
                <a th:href="@{/view-admin-curriculum-courses(curriculumID=${ELearningCurriculum.id})}"><b th:text="${ELearningCurriculum.curriculumName}"></b></a>
                <br />
                <div th:text="${ELearningCurriculum.curriculumDescription}"/>
            </div>
            <div class="col-md-1 curr"><b th:inline="text">Active -> [[${ELearningCurriculum.isActive()}]]</b></div>
            <div class="col-md-4"></div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <hr class="full-width" />
            </div>
        </div>

    </div>


</div>

<div class="clearfix bottom-space"></div>

<!-- Include Footer for when user is logged in -->
<div th:replace="fragments/footer-usersession :: footer-usersession"/>

<!-- jQuery first, then Bootstrap JS. -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="js/hr.js"></script>
<script src="js/hover.js"></script>
<script src="js/modal.js"></script>
<script src="js/progress-bar.js" type="text/javascript"></script>
<script src="js/modernizr.js" type="text/javascript"></script>
</body>
</html>