<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>

    <script src="js/ckeditor.js"></script>
    <script src="js/sample.js"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.2/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="css/global-style.css"/>
    <link rel="stylesheet" href="css/adaptive-quiz-style.css"/>

</head>
<body>
<div th:fragment="assessment-settings-panel">

    <div class="container" style="margin: 20px auto;">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <span class="very-large-text-2"
                      th:text="|Assessment Curriculum: ${ELearningCurriculum.getCurriculumName()}|"></span>
            </div>
            <div class="col-md-1"></div>
        </div>

        <!-- Main Quiz tabs -->
        <div class="col-md-12">
            <nav class="blue-tabs">
                <ul>
                    <li><a class="blue-tabs-3" style="cursor: pointer;" onClick="Quizzes()" id="hide" href="#">Assessment Focus Areas</a></li>
                </ul>
            </nav>
            <br/>
            <hr style="color: black; background-color: black; height: 2px;"/>
            <br/>
        </div>

        <!-- Quiz Types of Quizzes Selections -->
        <div class="row">
            <div class="col-md-4">
                <div class="small-boxes-2" id="list" style="cursor: pointer;" th:onclick="'document.location.href=\'' + @{/add-assessment-course-focus-area(focusArea=Course)} + '\''">
                    <i class="fa fa-list-ul" style="color: #000;" aria-hidden="true"></i>&nbsp;&nbsp;Course Focus Area
                </div>
            </div>

            <div class="col-md-2"></div>

            <div class="col-md-2"></div>

            <div class="col-md-4"></div>
        </div>

        <br/>

    </div>

</div>
</body>
</html>