<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>

    <!-- Bootstrap CSS latest compiled version -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/global-style.css"/>
</head>
<body>

<!-- Include general header for no logged in user session found -->
<div th:replace="fragments/header-nosession :: header-nosession"></div>

    <h1>Sign Up</h1>

<div class="container">
    <div class="clearfix bottom-space"></div>
    <div class="row">
       <div class="col-md-12"><h3 class="centered">Select Signup Type.  Only Student Currently Supported.</h3></div>
    </div>

    <br /><br />

    <form th:action="@{/sign-up-type-select}" th:object="${RegistrationSelectionWebVO}" method="post">

        <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>

        <div class="row" th:if="${#fields.hasErrors('signUpType')}">
            <div class="alert alert-danger fade in col-sm-12">Signup Type Must be selected!!  Only Student Signup Currently Supported</div>
        </div>

        <div class="row">
            <div class="col-sm-4">
            <input type="radio" id="check-box-1" value="Student" name="options" th:field="*{signUpType}" />
            <label for="check-box-1" class="box" id="left-box"><img src="images/assets/sign-up/student.png" class="user" /><h4 class="centered">Student</h4>
                <p class="centered gray small-text">Sign up and learn from fun engaging content created by expert Educators and Content Creators.</p>
            </label>
            </div>

            <div class="col-sm-4">
                <input type="radio" id="check-box-2" value="Parent" name="options" th:field="*{signUpType}" disabled='disabled' />
                <label for="check-box-2" class="box" id="center-box"><img src="images/assets/sign-up/parent.png" class="user" /><h4 class="centered">Parent</h4>
                    <p class="centered gray small-text">Gain valuable insight into your children's performance on both QPalX and their real world Schools. <br/> Coming Soon!!.</p>
                </label>
            </div>

            <div class="col-sm-4">
                <input type="radio" id="check-box-3" value="Teacher" name="options" th:field="*{signUpType}" disabled='disabled' />
                <label for="check-box-3" class="box" id="right-box"><img src="images/assets/sign-up/teacher.png" class="user" /><h4 class="centered">Teacher</h4>
                    <p class="centered gray small-text">Manage your class performance and gain an understanding of how well your students are doing. <br/> Coming Soon!!.</p>
                </label>
            </div>

        </div>

        <div class="clearfix bottom-space"></div>
           <br /><br />
           <br />
        <div class="col-md-12 continue"><button type="submit" class="btn btn-success">Continue</button></div>
    </form>


</div>

<div class="clearfix bottom-space"></div>

<!-- Include Footer for when user is logged in -->
<div th:replace="fragments/footer-usersession :: footer-usersession"/>

<!-- jQuery first, then Bootstrap JS. -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script type="text/javascript" language="javascript">
        function onFocus(el) {
            if (el.value == el.defaultValue) {
                el.value = '';
            }
        }
    </script>
</body>
</html>