<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/global-style.css"/>
</head>
<body>

<!-- Include general header for when a valid logged in user session is found -->
<div th:replace="fragments/header-usersession :: header-usersession"></div>

<!-- Main Content Admin user details overview panel -->
<div th:replace="fragments/content-admin/user-overview-panel :: overview"></div>

<div class="container">

    <div class="row" th:if="${Invalid_FORM_Submission} != null">
        <div class="alert alert-danger fade in" th:text="${Invalid_FORM_Submission}"/>
    </div>

    <form method="post" enctype="multipart/form-data" th:action="@{save-adaptive-quiz}" th:object="${AdaptiveLearningQuizVO}">

        <!-- hidden field is a spring-security feature which generates a hidden token checked on submission to make sure submission is from this website directly -->
        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>

        <div class="row">
            <div class="col-md-3">Quiz Activity ID</div>
            <div class="col-md-3">Quiz Name</div>
            <div class="col-md-6">Quiz Description</div>
        </div>

        <div class="row">
            <div class="col-md-3"><input type="text" size="26" th:field="*{scorableActivityID}"/><span class="name"></span></div>
            <div class="col-md-3"><input type="text" size="26" th:field="*{quizName}"/><span class="name"></span></div>
            <div class="col-md-3"><input type="text" size="26" th:field="*{quizDescription}"/><span class="description"></span></div>
        </div>

        <div class="clearfix bottom-space"></div>

        <div class="row">
            <div class="col-md-12">Max Possible Score</div>
        </div>

        <div class="row">
            <div class="col-md-12"><input type="text" size="26" th:field="*{maxPossibleQuizScore}"/><span class="name"></span></div>
        </div>

        <div class="clearfix bottom-space"></div>

        <div class="row">
            <div class="col-md-12">Quiz Embed URL</div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <textarea rows="3" cols="100" th:field="*{quizEmbedURL}"></textarea>
            </div>
        </div>

        <div class="clearfix bottom-space"></div>

        <div class="row">
            <div class="col-md-6">
                Newly Added Course Activity
            </div>
            <div class="col-md-6"></div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <input type="radio" value="TRUE" th:field="*{activeFlag}"/> Active&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="radio" value="FALSE" th:field="*{activeFlag}"/> Inactive
            </div>
            <div class="col-md-6"></div>
        </div>

        <div class="clearfix bottom-space"></div>
        <div class="clearfix bottom-space"></div>

        <!-- Hidden field to pass back the value of the current ELearningCourseID-->
        <input type="hidden" th:value="${SelectedQPalXMicroLesson.id}" name="qPalXEMicroLessonID"/>

        <div class="col-md-12 continue">
            <button type="submit" id="submit" class="btn btn-success">Save Adaptive Quiz</button>
        </div>
    </form>
</div>

<div class="clearfix bottom-space"></div>

<!-- Include Footer for when user is logged in -->
<div th:replace="fragments/footer-usersession :: footer-usersession"/>

<!-- jQuery first, then Bootstrap JS. -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="js/hr.js"></script>
<script src="js/hover.js"></script>
<script src="js/modal.js"></script>
<script src="js/progress-bar.js" type="text/javascript"></script>
<script src="js/modernizr.js" type="text/javascript"></script>
</body>
</html>