<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>

    <!-- Script used by HTML WYSYWIG -->
    <script src="js/ckeditor.js"></script>
    <script src="js/sample.js"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/global-style.css"/>
</head>
<body>

<!-- Include general header for when a valid logged in user session is found -->
<div th:replace="fragments/header-usersession :: header-usersession"></div>

<!-- Main Content Admin user details overview panel -->
<div th:replace="fragments/content-admin/user-overview-panel :: overview"></div>

<div class="container">

    <div class="row" th:if="${Invalid_FORM_Submission} != null">
        <div class="alert alert-danger fade in" th:text="${Invalid_FORM_Submission}"/>
    </div>

    <form method="post" enctype="multipart/form-data" th:action="@{save-question-bank}" th:object="${QuestionBankVO}">

        <!-- hidden field is a spring-security feature which generates a hidden token checked on submission to make sure submission is from this website directly -->
        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>

        <div class="row">
            <div class="col-md-3">Question Bank Title</div>
            <div class="col-md-9">QPalX Content Type</div>
        </div>

        <div class="row">
            <div class="col-md-3"><input type="text" size="40" id="name" name="name" th:field="*{questionTitle}" maxlength="50"/><span class="name"></span></div>
            <div class="col-md-6">
                <select class="activity" th:field="*{qPalXTutorialContentType}">
                    <option value=""></option>
                    <option th:each="SupportedQPalXTutorialContentType : ${SupportedQPalXTutorialContentTypes}" th:value="${SupportedQPalXTutorialContentType}" th:text="${SupportedQPalXTutorialContentType}"></option>
                </select>
            </div>
        </div>

        <div class="clearfix bottom-space"></div>

        <div class="row">
            <div class="col-md-12">Question Bank Description</div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <!--<textarea rows="3" cols="100" th:field="*{questionDescription}"></textarea>-->
                <textarea id="editor" name="editor" th:field="*{questionDescription}" maxlength="200"></textarea><br/>
            </div>
        </div>

        <div class="clearfix bottom-space"></div>

        <div class="clearfix bottom-space"></div>

        <div class="row">
            <div class="col-md-6">
                Active Flag
            </div>
            <div class="col-md-6"></div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <input type="radio" value="TRUE" th:field="*{activeFlag}"/> Active&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="radio" value="FALSE" th:field="*{activeFlag}"/> Inactive
            </div>
            <div class="col-md-6"></div>
        </div>

        <div class="clearfix bottom-space"></div>
        <div class="clearfix bottom-space"></div>

        <!-- Hidden field to pass back the value of the current ELearningCourseID-->
        <input type="hidden" th:value="${SelectedQPalXELesson.id}" name="qPalXELessonID"/>

        <div class="col-md-12 continue">
            <button type="submit" id="submit" class="btn btn-success">Save Question Bank</button>
        </div>
    </form>
</div>

<div class="clearfix bottom-space"></div>

<!-- Include Footer for when user is logged in -->
<div th:replace="fragments/footer-usersession :: footer-usersession"/>

<!-- jQuery first, then Bootstrap JS. -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="js/hr.js"></script>
<script src="js/hover.js"></script>
<script src="js/modal.js"></script>
<script src="js/progress-bar.js" type="text/javascript"></script>
<script src="js/modernizr.js" type="text/javascript"></script>

<!-- Script to enable HTML WYSYWYG -->
<script>
	initSample();
	$(document).ready(function(){
		$(".small-boxes").hide();
        //$(".small-boxes-2").show();
    $("#hide").click(function(){
		$(".small-boxes").hide();
        $(".small-boxes-2").show();
    });
    $("#show").click(function(){
        $(".small-boxes-2").hide();
        $(".small-boxes").show();
    });
});
	function Quizzes(){
			if( $("#hide").hasClass("blue-tabs-2") ) {
		$("#hide").removeClass("blue-tabs-2").addClass("blue-tabs-3");
		$("#show").removeClass("blue-tabs-3").addClass("blue-tabs-2");
			} else {
		$("#hide").removeClass("blue-tabs-3").addClass("blue-tabs-2");
		$("#show").removeClass("blue-tabs-2").addClass("blue-tabs-3");
			}
	}
	function Settings(){
			if( $("#show").hasClass("blue-tabs-3") ) {
		$("#show").removeClass("blue-tabs-3").addClass("blue-tabs-2");
		$("#hide").removeClass("blue-tabs-2").addClass("blue-tabs-3");
			} else {
		$("#show").removeClass("blue-tabs-2").addClass("blue-tabs-3");
		$("#hide").removeClass("blue-tabs-3").addClass("blue-tabs-2");
			}
	}
</script>
</body>
</html>