<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/global-style.css"/>
</head>
<body>

<!-- Include general header for when a valid logged in user session is found -->
<div th:replace="fragments/header-usersession :: header-usersession"></div>

<!-- Main Content Admin user details overview panel -->
<div th:replace="fragments/content-admin/user-overview-panel :: overview"></div>

<!-- Include Student User general Account information panel -->
<div th:replace="fragments/content-admin/admin-tutorialgrade-control-panel :: tutorialgrade-control-panel"/>


<div class="clearfix"></div>

<!-- Entire Curriculum available to Content Developer list -->
<div class="container" style="margin-top: 10px; margin-bottom: 0px;">

    <!-- Include Admin Curriculum Control Navigation Panel -->
    <div th:replace="fragments/content-admin/admin-curriculum-nav-panel :: navigation-panel"/>

    <!-- Display warning on trying to delete a resource with active items. -->
    <div class="row" th:if="${Invalid_Delete_Operation} != null">
        <div class="alert alert-danger fade in" th:text="${Invalid_Delete_Operation}"/>
    </div>

    <div class="row">
        <div class="large-font">Micro Lessons</div>
    </div>

    <div class="row" th:each="QPalXEMicroLesson,rowStat : ${QPalXEMicroLessons}">

        <div class="col-md-1 num" th:text="${rowStat.count}"></div>

        <div class="col-md-3 name" align="left">
            <a th:href="@{/view-adaptive-quizzes(microlessonID=${QPalXEMicroLesson.id})}"><b th:text="${QPalXEMicroLesson.microLessonName}"></b></a>
        </div>
        <div class="col-md-4"></div>

        <div class="col-md-2">
            <button type="submit" value="0" class="btn btn-default btn-default-1 btn-sm" th:onclick="'document.location.href=\'' + @{/microlesson-edit-start(microLessonID=${QPalXEMicroLesson.id})} + '\''">
                Edit Micro-Lesson
            </button>
        </div>

        <div class="col-md-2">
            <button type="submit" value="0" class="btn btn-default btn-default-1 btn-sm" th:onclick="'document.location.href=\'' + @{/delete-qpalx-micro-lesson(microLessonID=${QPalXEMicroLesson.id})} + '\''">
                Remove Micro-Lesson
            </button>
        </div>
    </div>

    <br/>

    <div class="row">
        <div class="large-font">Question Bank Items</div>
    </div>

    <div class="row" th:each="QuestionBankItem,rowStat : ${QuestionBankItems}">

        <div class="col-md-1 num" th:text="${rowStat.count}"></div>

        <div class="col-md-3 name" align="left">
            <b th:text="${QuestionBankItem.questionTitle}"></b>
        </div>
        <div class="col-md-6"></div>
        <div class="col-md-2">
            <div class="default-btn-1"></div>
            <button type="submit" value="0" class="btn btn-default btn-default-1 btn-sm" th:onclick="'document.location.href=\'' + @{/delete-question-bank(questionBankItemID=${QuestionBankItem.id}, qpalxELessonID=${SelectedQPalXELesson.id})} + '\''">
                Remove QuestionBank Item
            </button>
        </div>
    </div>


</div>

<div class="clearfix bottom-space"></div>

<!-- Include Footer for when user is logged in -->
<div th:replace="fragments/footer-usersession :: footer-usersession"/>

<!-- jQuery first, then Bootstrap JS. -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="js/hr.js"></script>
<script src="js/hover.js"></script>
<script src="js/modal.js"></script>
<script src="js/progress-bar.js" type="text/javascript"></script>
<script src="js/modernizr.js" type="text/javascript"></script>
</body>
</html>