<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>

    <script src="js/ckeditor.js"></script>
    <script src="js/sample.js"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.2/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="css/global-style.css"/>
    <link rel="stylesheet" href="css/adaptive-quiz-style.css"/>
</head>
<body>

<!-- Include general header for when a valid logged in user session is found -->
<div th:replace="fragments/header-usersession :: header-usersession"></div>

<!-- Main Content Admin user details overview panel -->
<div th:replace="fragments/content-admin/user-overview-panel :: overview"></div>

<!-- Quiz settings panel -->
<div th:replace="fragments/content-admin/adaptive-quiz/edit-mode/adaptive-quiz-settings-panel :: quiz-settings-panel"></div>

<!-- Bread crumb navigation panel -->
<div th:replace="fragments/content-admin/breadcrumb-nav-panel :: breadcrumb-panel"></div>

<div class="container" style="margin: 20px auto;">

    <div class="row">
        <div class="col-md-1"></div>

        <div class="col-md-12">
            <span class="large-fonts-3">Adaptive Quiz Questions</span>
            <hr style="color: black; background-color: black; height: 1px;"/>
        </div>

    </div>

    <div th:each="AdaptiveLearningQuizQuestionVO,rowStat : ${CurrentAdaptiveLearningQuizQuestionVOs}">

        <!-- Display Quiz Question -->
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-11">
                <p class="small-text" th:text="${AdaptiveLearningQuizQuestionVO.getQuestionTitle()}"></p>
            </div>
        </div>

        <!-- Display all Quiz Question Answers -->
        <div th:each="AdaptiveLearningQuizQuestionAnswerVO : ${AdaptiveLearningQuizQuestionVO.getIAdaptiveLearningQuizQuestionAnswerVOs()}">

            <!-- Display circle with filled color to indicate a correct answer -->
            <div class="row" th:if="${AdaptiveLearningQuizQuestionAnswerVO.correctAnswer == true}">
                <div class="col-md-1"></div>

                <div class="col-md-10 small-text-2">
                    <i class="fa fa-circle spacing" style="color: #0abfd2;" aria-hidden="true"></i> <span th:text="${AdaptiveLearningQuizQuestionAnswerVO.quizQuestionAnswerText}"/>
                </div>
            </div>

            <!-- Display empty circle to indicate wrong answer -->
            <div class="row" th:if="${AdaptiveLearningQuizQuestionAnswerVO.correctAnswer == false}">
                <div class="col-md-1"></div>

                <div class="col-md-10 small-text-2">
                    <i class="fa fa-circle-o spacing" style="color: #0abfd2;" aria-hidden="true"></i> <span th:text="${AdaptiveLearningQuizQuestionAnswerVO.quizQuestionAnswerText}"/>
                </div>
            </div>
        </div>

        <br/>

        <!-- Display edit options -->
        <div class="row">

            <div class="col-md-1"></div>

            <!-- Edit Button for Multiple Choice Question -->
            <div class="col-md-3" th:if="${AdaptiveLearningQuizQuestionVO.getQuizQuestionTypeString() == 'Multiple_Choice'}">
                <a th:href="@{/quiz-question-update-view(id=${AdaptiveLearningQuizQuestionVO.getID()})}">
                    <span><i class="fa fa-list-ul" aria-hidden="true"></i> Edit Multi Choice Question</span>
                </a>
            </div>

            <!-- Edit Button for Image Multi Choice Question -->
            <div class="col-md-3" th:if="${AdaptiveLearningQuizQuestionVO.getQuizQuestionTypeString() == 'Image'}">
                <a th:href="@{/quiz-question-update-view(id=${AdaptiveLearningQuizQuestionVO.getID()})}">
                    <span><i class="fa fa-list-ul" aria-hidden="true"></i> Edit Multi Choice Question</span>
                </a>

                &nbsp;

                <a th:href="@{/quiz-question-media-update-view(id=${AdaptiveLearningQuizQuestionVO.getID()})}">
                    <span><i class="fa fa-picture-o" aria-hidden="true"></i> Edit Uploaded Image</span>
                </a>
            </div>

            <!-- Edit Button for Video Multi Choice Question -->
            <div class="col-md-3" th:if="${AdaptiveLearningQuizQuestionVO.getQuizQuestionTypeString() == 'Video'}">
                <a th:href="@{/quiz-question-update-view(id=${AdaptiveLearningQuizQuestionVO.getID()})}">
                    <span><i class="fa fa-list-ul" aria-hidden="true"></i> Edit Multi Choice Question</span>
                </a>

                &nbsp;

                <a th:href="@{/quiz-question-media-update-view(id=${AdaptiveLearningQuizQuestionVO.getID()})}">
                    <span><i class="fa fa-video-camera" aria-hidden="true"></i> Edit Uploaded Video</span>
                </a>
            </div>

            <div class="col-md-8"></div>
            <br/>
        </div>
        <!-- End Display edit options  -->


        <hr/>
        <br/>
    </div>

    <div class="row">
        <form method="POST" th:action="@{persist-adaptive-quiz}">
        <div class="col-md-12">
            <div style="margin: auto; text-align: center">
                <button type="submit" id="submit" class="btn btn-success">Complete And Exit Quiz</button>
            </div>
            <br/>
        </div>
        </form>
    </div>

</div>

<!-- Include Footer for when user is logged in -->
<div th:replace="fragments/footer-usersession :: footer-usersession"/>

<!-- jQuery first, then Bootstrap JS. -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script>
	$(document).ready(function(){
		$(".small-boxes").hide();
        //$(".small-boxes-2").show();
    $("#hide").click(function(){
		$(".small-boxes").hide();
        $(".small-boxes-2").show();
    });
    $("#show").click(function(){
        $(".small-boxes-2").hide();
        $(".small-boxes").show();
    });
});
	function Quizzes(){
			if( $("#hide").hasClass("blue-tabs-2") ) {
		$("#hide").removeClass("blue-tabs-2").addClass("blue-tabs-3");
		$("#show").removeClass("blue-tabs-3").addClass("blue-tabs-2");
			} else {
		$("#hide").removeClass("blue-tabs-3").addClass("blue-tabs-2");
		$("#show").removeClass("blue-tabs-2").addClass("blue-tabs-3");
			}
	}
	function Settings(){
			if( $("#show").hasClass("blue-tabs-3") ) {
		$("#show").removeClass("blue-tabs-3").addClass("blue-tabs-2");
		$("#hide").removeClass("blue-tabs-2").addClass("blue-tabs-3");
			} else {
		$("#show").removeClass("blue-tabs-2").addClass("blue-tabs-3");
		$("#hide").removeClass("blue-tabs-3").addClass("blue-tabs-2");
			}
	}
</script>
</body>
</html>