<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<!-- Platform header used across QPalX for pages where no User Session exists.  No valid user logged in. -->
<head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>

    <!-- Bootstrap CSS latest compiled version -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/global-style.css"/>
</head>
<body>
<!-- Footer for when a user is logged in. -->
<div th:fragment="footer-usersession-modal">
    <div class="row bottom-6">
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 bottom-4">
            <img src="images/assets/homepage/facebook.png" class="social-icons"/>
            <img src="images/assets/homepage/twitter.png" class="social-icons"/>
            <img src="images/assets/homepage/instagram.png" class="social-icons"/>
            <br/><br/>
            <p class="copyright">&copy; 2016 QPALX. All rights reserved</p>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 bottom-5">
            <p>Contact Us<br/>
                hello@qpalx.com<br/>
                Studio M, 4th Floor 8 Lower<br/>
                Manchester Street, M1 SQF<br/>
                +34 393 323 32 22</p>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 float-right">
            <p>Subscribe Now<br/> Sign up to stay up to date with our<br/> latest news</p>
            <input type="text" name="email" class="textbox" value="&nbsp;&nbsp;&nbsp;Enter Email Address"/>
            <img src="images/assets/homepage/sign-up-button.png" class="sign-up"/>
        </div>
    </div>
    <footer>
    </footer>

    <!-- jQuery first, then Bootstrap JS. -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="js/hr.js"></script>
    <script src="js/modal.js"></script>
    <script src="js/hover.js"></script>

    <script src="js/progress-bar.js" type="text/javascript"></script>
    <script src="js/modernizr.js" type="text/javascript"></script>
    <script src="js/circle-progress.js"></script>
<script th:inline="javascript">
/*<![CDATA[*/

     // On loading page this function call will make sure that videos in modals do not autoplay
     $(document).ready(function(){
        for (var i=1; i <= [[${QPalXEMicroLessons.size()}]]; i++) {
            var modalBoxID = "modal-box-" + i
            var vid = document.getElementById(modalBoxID);
            if(vid !== null) {
                vid.autoplay = false;
                vid.load();
            }
        }
     });

     function stopVideo(id){
        $('video').trigger('pause');

         // Get dynamic href value from modal box
         var popupID = 'popup' + id;
         //alert(popupID);

		 var href = parent.document.getElementById(popupID).getAttribute("href");

         $.ajax({
             type: "GET",
             dataType: "json",
             url: href,
             success: function(data){
                alert(data);
             }
         });
     }

     function stopQuestionBankItem(questionBankControl){
        $('video').trigger('pause');

		 var href = parent.document.getElementById(questionBankControl).getAttribute("href");
		 //alert(href);

         $.ajax({
             type: "GET",
             dataType: "json",
             url: href,
             success: function(data){
                alert(data);
             }
         });
     }

	 $('.third.circle-bar').circleProgress({
  value: [[${AdaptiveLearningChartInverseScore}]],
  fill: {gradient: [['#06bfd3', .5], ['#06bfd3', .5]], gradientAngle: Math.PI / 4}
}).on('circle-animation-progress', function(event, progress, stepValue) {
  $(this).find('strong').html(parseInt([[${AdaptiveLearningChartScore}]] * progress) + '<i>%</i>');
});

/*]]>*/
</script>
</div>
</body>
</html>